# ==========================================
# OS / eBPF & C 编译产物
# ==========================================
*.o
*.out
*.so
*.a
.built
# 忽略所有 eBPF 编译生成的二进制文件，只保留 .bpf.c 和 .h 源码
bpf/**/*.o

# ==========================================
# Python & 强化学习 (ML)
# ==========================================
# 字节码与缓存
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# 虚拟环境 (考虑到你可能用 uv 构建 .venv)
.venv/
venv/
env/
.env

# 强化学习模型权重与张量数据
*.pt
*.pth
*.npy
*.npz

# ==========================================
# 实验数据与日志 (核心防护区)
# ==========================================
# 忽略所有录制的 DAMON 数据、系统压测日志和提取出的特征
*.data
*.log
*.csv
*.json
data/
logs/
!data/.gitkeep
!logs/.gitkeep

# ==========================================
# 编辑器与系统环境
# ==========================================
# Vim (终端下的临时编辑文件)
*.swp
*.swo
*~

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


raw_trace.txt

leveldb_data
leveldb_data_temp

*/vmlinux.h
*.0